# Use Credit Risk Analytics Notebook Template

In [1]:
!pip install --q refractml==1.0.3

WARNING: The directory '/home/mosaic-ai/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
  WARNING: Building wheel for shutils failed: [Errno 13] Permission denied: '/home/mosaic-ai/.cache/pip/wheels'
ERROR: pandas-profiling 3.6.0 has requirement matplotlib<3.7,>=3.2, but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement multimethod<1.10,>=1.4, but you'll have multimethod 1.10 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement numpy<1.24,>=1.16.0, but you'll have numpy 1.24.4 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement pandas!=1.4.0,<1.6,>1.1, but you'll have pandas 2.0.3 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement pydantic<1.11,>=1.8.1, but you'll have pydantic 2.7.2 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement requests<2.29,>=2.24.0, but you'll have requests 2.32.2 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement scipy<1.10,>=1.4.1, but you'll have scipy 1.10.1 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement seaborn<0.13,>=0.10.1, but you'll have seaborn 0.13.2 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement statsmodels<0.14,>=0.13.2, but you'll have statsmodels 0.14.1 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement tqdm<4.65,>=4.48.2, but you'll have tqdm 4.66.4 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement typeguard<2.14,>=2.13.2, but you'll have typeguard 4.3.0 which is incompatible.
ERROR: pandas-profiling 3.6.0 has requirement visions[type_image_path]==0.7.5, but you'll have visions 0.7.6 which is incompatible.
ERROR: fosforio 1.0.1 has requirement pandas==2.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-snowpark-python 1.0.0 has requirement snowflake-connector-python<3.0.0,>=2.7.12, but you'll have snowflake-connector-python 3.6.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement packaging<24,>=20.9, but you'll have packaging 24.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement pandas<2,>=1.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement snowflake-snowpark-python<2,>=1.4.0, but you'll have snowflake-snowpark-python 1.0.0 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Flask==2.1.1; python_version >= "3.7", but you'll have flask 2.2.5 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Jinja2==3.0.3, but you'll have jinja2 3.1.4 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement matplotlib==3.6.0; python_version >= "3.8", but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: mosaic-ai-client 1.0.0 has requirement matplotlib==3.1.1, but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: jupyterlab-server 2.25.4 has requirement jsonschema>=4.18.0, but you'll have jsonschema 3.2.0 which is incompatible.
WARNING: You are using pip version 19.3.1; however, version 24.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
from fosforio import snowflake
import pandas as pd
import datetime as dt

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [2]:
import seaborn as sns
import subprocess

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-o5x1st3a because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [1]:
from refractml import *
from refractml.constants import MLModelFlavours
import requests

/opt/conda/lib/python3.8/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [3]:
from fosforml import *
from fosforml.constants import MLModelFlavours
import requests

In [4]:
# Import label encoder 
from sklearn import preprocessing 
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from math import sqrt
import numpy as np

In [5]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
#snowflake.get_connection()

# To get snowflake connection object with a specific connection name
snowflake.get_connection(connection_name="FDC_Banking_FS_SNOWFLAKE")

Exception occurred in getting snowflake connection: 'connectionSources'

In [6]:
# To read a specific dataset published from a snowflake connection
df_original = snowflake.get_dataframe("ATM_TRANSACTION_MASTER_DATA")
df = snowflake.get_dataframe("ATM_TRANSACTION_MASTER_DATA")

In [7]:
df.shape

(328860, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328860 entries, 0 to 328859
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   DATE                     328860 non-null  object
 1   WEEKDAY_FLAG             328860 non-null  object
 2   HOLIDAY_FLAG             328860 non-null  object
 3   BANK_ID                  328860 non-null  int8
 4   STATE                    328860 non-null  object
 5   BANK_NAME                328860 non-null  object
 6   ATM_ID                   328860 non-null  object
 7   DISPENSED_AMOUNT         328860 non-null  float64
 8   TOTAL_TRANSACTION_COUNT  328860 non-null  float64
 9   DOWNTIME_IN_MINS         328860 non-null  float64
 10  ATM_MAX_CAPACITY         328860 non-null  float64
dtypes: float64(4), int8(1), object(6)
memory usage: 25.4+ MB

In [9]:
df.head()

,DATE,WEEKDAY_FLAG,HOLIDAY_FLAG,BANK_ID,STATE,BANK_NAME,ATM_ID,DISPENSED_AMOUNT,TOTAL_TRANSACTION_COUNT,DOWNTIME_IN_MINS,ATM_MAX_CAPACITY
0,2023-01-29,Y,N,3,Maine,Citibank,TBH000274025,225180.0,90.0,0.0,2860000.0
1,2023-01-30,Y,N,3,Maine,Citibank,TBH000274025,262440.0,117.0,0.0,2860000.0
2,2023-01-31,Y,N,3,Maine,Citibank,TBH000274025,561150.0,160.0,0.0,2860000.0
3,2023-02-01,Y,N,3,Maine,Citibank,TBH000274025,437220.0,129.0,0.0,2860000.0
4,2023-02-02,Y,N,3,Maine,Citibank,TBH000274025,360900.0,119.0,0.0,2860000.0

In [10]:
df.columns

Index(['DATE', 'WEEKDAY_FLAG', 'HOLIDAY_FLAG', 'BANK_ID', 'STATE', 'BANK_NAME',
       'ATM_ID', 'DISPENSED_AMOUNT', 'TOTAL_TRANSACTION_COUNT',
       'DOWNTIME_IN_MINS', 'ATM_MAX_CAPACITY'],
      dtype='object')

In [11]:
df.isnull().sum()

DATE                       0
WEEKDAY_FLAG               0
HOLIDAY_FLAG               0
BANK_ID                    0
STATE                      0
BANK_NAME                  0
ATM_ID                     0
DISPENSED_AMOUNT           0
TOTAL_TRANSACTION_COUNT    0
DOWNTIME_IN_MINS           0
ATM_MAX_CAPACITY           0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328860 entries, 0 to 328859
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   DATE                     328860 non-null  object
 1   WEEKDAY_FLAG             328860 non-null  object
 2   HOLIDAY_FLAG             328860 non-null  object
 3   BANK_ID                  328860 non-null  int8
 4   STATE                    328860 non-null  object
 5   BANK_NAME                328860 non-null  object
 6   ATM_ID                   328860 non-null  object
 7   DISPENSED_AMOUNT         328860 non-null  float64
 8   TOTAL_TRANSACTION_COUNT  328860 non-null  float64
 9   DOWNTIME_IN_MINS         328860 non-null  float64
 10  ATM_MAX_CAPACITY         328860 non-null  float64
dtypes: float64(4), int8(1), object(6)
memory usage: 25.4+ MB

In [13]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['HOUR'] = df['DATE'].dt.hour
df['DAYOFWEEK'] = df['DATE'].dt.dayofweek
df['QUARTER'] = df['DATE'].dt.quarter
df['MONTH'] = df['DATE'].dt.month
df['YEAR'] = df['DATE'].dt.year
df['DAYOFYEAR'] = df['DATE'].dt.dayofyear
df['DAYOFMONTH'] = df['DATE'].dt.day
df['DATE'] = pd.to_datetime(df['DATE']).dt.strftime("%Y-%m-%d %H:%M:%S.%f")

In [14]:
df['WEEKDAY_FLAG'] = df['WEEKDAY_FLAG'].map({'Y': 1, 'N': 0})
df['HOLIDAY_FLAG'] = df['HOLIDAY_FLAG'].map({'Y': 1, 'N': 0})

In [15]:
df.head()

,DATE,WEEKDAY_FLAG,HOLIDAY_FLAG,BANK_ID,STATE,BANK_NAME,ATM_ID,DISPENSED_AMOUNT,TOTAL_TRANSACTION_COUNT,DOWNTIME_IN_MINS,ATM_MAX_CAPACITY,HOUR,DAYOFWEEK,QUARTER,MONTH,YEAR,DAYOFYEAR,DAYOFMONTH
0,2023-01-29 00:00:00.000000,1,0,3,Maine,Citibank,TBH000274025,225180.0,90.0,0.0,2860000.0,0,6,1,1,2023,29,29
1,2023-01-30 00:00:00.000000,1,0,3,Maine,Citibank,TBH000274025,262440.0,117.0,0.0,2860000.0,0,0,1,1,2023,30,30
2,2023-01-31 00:00:00.000000,1,0,3,Maine,Citibank,TBH000274025,561150.0,160.0,0.0,2860000.0,0,1,1,1,2023,31,31
3,2023-02-01 00:00:00.000000,1,0,3,Maine,Citibank,TBH000274025,437220.0,129.0,0.0,2860000.0,0,2,1,2,2023,32,1
4,2023-02-02 00:00:00.000000,1,0,3,Maine,Citibank,TBH000274025,360900.0,119.0,0.0,2860000.0,0,3,1,2,2023,33,2

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328860 entries, 0 to 328859
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   DATE                     328860 non-null  object
 1   WEEKDAY_FLAG             328860 non-null  int64
 2   HOLIDAY_FLAG             328860 non-null  int64
 3   BANK_ID                  328860 non-null  int8
 4   STATE                    328860 non-null  object
 5   BANK_NAME                328860 non-null  object
 6   ATM_ID                   328860 non-null  object
 7   DISPENSED_AMOUNT         328860 non-null  float64
 8   TOTAL_TRANSACTION_COUNT  328860 non-null  float64
 9   DOWNTIME_IN_MINS         328860 non-null  float64
 10  ATM_MAX_CAPACITY         328860 non-null  float64
 11  HOUR                     328860 non-null  int64
 12  DAYOFWEEK                328860 non-null  int64
 13  QUARTER                  328860 non-null  int64
 14  MONTH                    328860 non-null  int64
 15  YEAR                     328860 non-null  int64
 16  DAYOFYEAR                328860 non-null  int64
 17  DAYOFMONTH               328860 non-null  int64
dtypes: float64(4), int64(9), int8(1), object(4)
memory usage: 43.0+ MB

In [17]:
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['STATE']= label_encoder.fit_transform(df['STATE'])

In [18]:
# how to understand word labels. 
atm_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['ATM_ID']= atm_encoder.fit_transform(df['ATM_ID'])

In [19]:
df.drop(['DATE','BANK_NAME','TOTAL_TRANSACTION_COUNT','DOWNTIME_IN_MINS','ATM_MAX_CAPACITY'], axis=1,inplace=True)

In [20]:
df.columns

Index(['WEEKDAY_FLAG', 'HOLIDAY_FLAG', 'BANK_ID', 'STATE', 'ATM_ID',
       'DISPENSED_AMOUNT', 'HOUR', 'DAYOFWEEK', 'QUARTER', 'MONTH', 'YEAR',
       'DAYOFYEAR', 'DAYOFMONTH'],
      dtype='object')

In [21]:
features = ['WEEKDAY_FLAG', 'HOLIDAY_FLAG', 'BANK_ID', 'STATE', 'ATM_ID',
    'HOUR', 'DAYOFWEEK', 'QUARTER', 'MONTH', 'YEAR',
       'DAYOFYEAR', 'DAYOFMONTH']

In [22]:
print (df.shape)
df = df[df['DISPENSED_AMOUNT'] > 0]
print (df.shape)

(328860, 13)
(271800, 13)

In [23]:
X = df[features]
y = df['DISPENSED_AMOUNT']

In [24]:
X.head()

,WEEKDAY_FLAG,HOLIDAY_FLAG,BANK_ID,STATE,ATM_ID,HOUR,DAYOFWEEK,QUARTER,MONTH,YEAR,DAYOFYEAR,DAYOFMONTH
0,1,0,3,18,315,0,6,1,1,2023,29,29
1,1,0,3,18,315,0,0,1,1,2023,30,30
2,1,0,3,18,315,0,1,1,1,2023,31,31
3,1,0,3,18,315,0,2,1,2,2023,32,1
4,1,0,3,18,315,0,3,1,2,2023,33,2

In [25]:
y

0         225180.0
1         262440.0
2         561150.0
3         437220.0
4         360900.0
            ...
328855    195300.0
328856    245160.0
328857    222480.0
328858    198360.0
328859    314190.0
Name: DISPENSED_AMOUNT, Length: 271800, dtype: float64

In [26]:
# Split the data into training and test sets. (0.75, 0.25) split.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, test_size=0.25)

In [27]:
print(f'Total # of sample in whole dataset: {len(X)}')
print("*****"*10)
print(f'Total # of sample in train dataset: {len(X_train)}')
print(f'Shape of X_train: {X_train.shape}')
print("*****"*10)
print(f'Total # of sample in test dataset: {len(X_test)}')
print(f'Shape of X_test: {X_test.shape}')

Total # of sample in whole dataset: 271800
**************************************************
Total # of sample in train dataset: 203850
Shape of X_train: (203850, 12)
**************************************************
Total # of sample in test dataset: 67950
Shape of X_test: (67950, 12)

# Linear Regression

In [28]:
Lreg = LinearRegression()

In [29]:
Lreg.fit(X_train,  y_train)

LinearRegression()

In [30]:
predictions = Lreg.predict(X_test)

In [31]:
print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
print('Mean Squared Error:', mean_squared_error(y_test,predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
print('r2_score:', r2_score(y_test,predictions))

Mean Absolute Error: 193911.06414061855
Mean Squared Error: 60887665874.6302
Root Mean Squared Error: 246754.2621204955
r2_score: 0.12060160948049725

# Lasso Regression

In [33]:
Lreg = Lasso()

In [34]:
Lreg.fit(X_train,  y_train)
predictions = Lreg.predict(X_test)

print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
print('Mean Squared Error:', mean_squared_error(y_test,predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
print('r2_score:', r2_score(y_test,predictions))

Mean Absolute Error: 193936.72493274353
Mean Squared Error: 60927260022.47098
Root Mean Squared Error: 246834.47899852032
r2_score: 0.12002975261285409

# Ridge Regression

In [35]:
Lreg = Ridge()

In [36]:
Lreg.fit(X_train,  y_train)
predictions = Lreg.predict(X_test)

print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
print('Mean Squared Error:', mean_squared_error(y_test,predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
print('r2_score:', r2_score(y_test,predictions))

Mean Absolute Error: 193910.63029448202
Mean Squared Error: 60887614298.45514
Root Mean Squared Error: 246754.15761128554
r2_score: 0.12060235439335754

# K-Nearest Neighbour

In [37]:
Lreg = KNeighborsRegressor()

In [38]:
Lreg.fit(X_train,  y_train)

KNeighborsRegressor()

In [39]:
predictions = Lreg.predict(X_test)

In [40]:
print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
print('Mean Squared Error:', mean_squared_error(y_test,predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
print('r2_score:', r2_score(y_test,predictions))

Mean Absolute Error: 132353.91761589405
Mean Squared Error: 33667953446.655895
Root Mean Squared Error: 183488.29239669733
r2_score: 0.513734947008189

# Hyperparameter tunning

In [44]:
for i in range(2,20,2):
    #Train Model and Predict  
    Lreg = KNeighborsRegressor(n_neighbors = i).fit(X_train,y_train)
    predictions = Lreg.predict(X_test)
    print ("--------------- Neighbour: ", i,"------------------------")
    print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
    print('Mean Squared Error:', mean_squared_error(y_test,predictions))
    print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
    print('r2_score:', r2_score(y_test,predictions))

--------------- Neighbour:  2 ------------------------
Mean Absolute Error: 147515.57615894038
Mean Squared Error: 42758881323.43709
Root Mean Squared Error: 206782.2074634012
r2_score: 0.382434999336828
--------------- Neighbour:  4 ------------------------
Mean Absolute Error: 133734.2321192053
Mean Squared Error: 34623737498.61507
Root Mean Squared Error: 186074.54822896942
r2_score: 0.49993059197333256
--------------- Neighbour:  6 ------------------------
Mean Absolute Error: 131415.91346578367
Mean Squared Error: 33115804237.86755
Root Mean Squared Error: 181977.48277703905
r2_score: 0.521709618373238
--------------- Neighbour:  8 ------------------------
Mean Absolute Error: 130805.36688741721
Mean Squared Error: 32621064428.92798
Root Mean Squared Error: 180613.0239737101
r2_score: 0.5288551278201467
--------------- Neighbour:  10 ------------------------
Mean Absolute Error: 130568.88410596027
Mean Squared Error: 32458569450.559868
Root Mean Squared Error: 180162.61945964227
r2_score: 0.5312020370076108
--------------- Neighbour:  12 ------------------------
Mean Absolute Error: 130960.61479028697
Mean Squared Error: 32543622645.66556
Root Mean Squared Error: 180398.5106525704
r2_score: 0.5299736167387423
--------------- Neighbour:  14 ------------------------
Mean Absolute Error: 131136.34247871337
Mean Squared Error: 32616057540.604134
Root Mean Squared Error: 180599.162624316
r2_score: 0.5289274421299539
--------------- Neighbour:  16 ------------------------
Mean Absolute Error: 131608.88667218544
Mean Squared Error: 32779884741.255947
Root Mean Squared Error: 181052.16027779382
r2_score: 0.5265612917034757
--------------- Neighbour:  18 ------------------------
Mean Absolute Error: 132112.93715967622
Mean Squared Error: 32974797005.67108
Root Mean Squared Error: 181589.6390372289
r2_score: 0.5237461808077466

In [45]:
tree = KNeighborsRegressor(n_neighbors=10)

tree.fit(X_train,  y_train)
predictions = tree.predict(X_test)

print('Mean Absolute Error:', mean_absolute_error(y_test,predictions))
print('Mean Squared Error:', mean_squared_error(y_test,predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,predictions)))
print('r2_score:', r2_score(y_test,predictions))

Mean Absolute Error: 130568.88410596027
Mean Squared Error: 32458569450.559868
Root Mean Squared Error: 180162.61945964227
r2_score: 0.5312020370076108

In [46]:
@scoring_func
def score(model, request):
    payload_dict = request.json["payload"]
    df = pd.DataFrame(payload_dict,index=[0])
    
    df['DATE'] = pd.to_datetime(df['DATE'])
    df['HOUR'] = df['DATE'].dt.hour
    df['DAYOFWEEK'] = df['DATE'].dt.dayofweek
    df['QUARTER'] = df['DATE'].dt.quarter
    df['MONTH'] = df['DATE'].dt.month
    df['YEAR'] = df['DATE'].dt.year
    df['DAYOFYEAR'] = df['DATE'].dt.dayofyear
    df['DAYOFMONTH'] = df['DATE'].dt.day
    df['DATE'] = pd.to_datetime(df['DATE']).dt.strftime("%Y-%m-%d %H:%M:%S.%f")
    df['WEEKDAY_FLAG'] = df['WEEKDAY_FLAG'].map({'Y': 1, 'N': 0})
    df['HOLIDAY_FLAG'] = df['HOLIDAY_FLAG'].map({'Y': 1, 'N': 0})

    df['STATE']= label_encoder.transform(df['STATE'])
    df['ATM_ID']= atm_encoder.transform(df['ATM_ID'])
    
    if 'TOTAL_TRANSACTION_COUNT' in df.columns:
        df.drop(['TOTAL_TRANSACTION_COUNT'] ,axis=1, inplace=True)
    
    if 'DOWNTIME_IN_MINS' in df.columns:
        df.drop(['DOWNTIME_IN_MINS'] ,axis=1, inplace=True)
        
    if 'ATM_MAX_CAPACITY' in df.columns:
        df.drop(['ATM_MAX_CAPACITY'] ,axis=1, inplace=True)

    df.drop(['DATE','BANK_NAME'], axis=1,inplace=True)
    
    features = ['WEEKDAY_FLAG', 'HOLIDAY_FLAG', 'BANK_ID', 'STATE', 'ATM_ID','HOUR', 'DAYOFWEEK', 
                'QUARTER', 'MONTH', 'YEAR','DAYOFYEAR', 'DAYOFMONTH']

    data = df[features]

    y_pred = model.predict(data)
    return y_pred

In [47]:
df_original_1 = df_original.copy()
payload  = df_original.iloc[0].to_dict()
#payload1  = df_original.iloc[0].to_dict()
payload

{'DATE': '2023-01-29',
 'WEEKDAY_FLAG': 'Y',
 'HOLIDAY_FLAG': 'N',
 'BANK_ID': 3,
 'STATE': 'Maine',
 'BANK_NAME': 'Citibank',
 'ATM_ID': 'TBH000274025',
 'DISPENSED_AMOUNT': 225180.0,
 'TOTAL_TRANSACTION_COUNT': 90.0,
 'DOWNTIME_IN_MINS': 0.0,
 'ATM_MAX_CAPACITY': 2860000.0}

In [48]:
print ('{ "payload": ', payload, "}")

{ "payload":  {'DATE': '2023-01-29', 'WEEKDAY_FLAG': 'Y', 'HOLIDAY_FLAG': 'N', 'BANK_ID': 3, 'STATE': 'Maine', 'BANK_NAME': 'Citibank', 'ATM_ID': 'TBH000274025', 'DISPENSED_AMOUNT': 225180.0, 'TOTAL_TRANSACTION_COUNT': 90.0, 'DOWNTIME_IN_MINS': 0.0, 'ATM_MAX_CAPACITY': 2860000.0} }

In [49]:
df_original_1.drop(['TOTAL_TRANSACTION_COUNT','DOWNTIME_IN_MINS','ATM_MAX_CAPACITY'], inplace=True, axis=1)
payload1  = df_original_1.iloc[0].to_dict()

In [50]:
print ('{ "payload": ', payload1, "}")

{ "payload":  {'DATE': '2023-01-29', 'WEEKDAY_FLAG': 'Y', 'HOLIDAY_FLAG': 'N', 'BANK_ID': 3, 'STATE': 'Maine', 'BANK_NAME': 'Citibank', 'ATM_ID': 'TBH000274025', 'DISPENSED_AMOUNT': 225180.0} }

In [51]:
req = requests.Request()
req.json = {"payload":payload1}
#req.json = {"payload":payload}
y_req = req
score(tree, y_req)

array([223722.])

In [52]:
req = requests.Request()
req.json = {"payload":payload}
y_req = req
score(tree, y_req)

array([223722.])

In [54]:
y_pred = predictions
y_prediction = pd.Series(y_pred)

In [55]:
type(X_train), type(X_test), type(y_train), type(y_test), type(y_pred), type(y_prediction)

(pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame,
 pandas.core.series.Series,
 pandas.core.series.Series,
 numpy.ndarray,
 pandas.core.series.Series)

In [ ]:
## registering the model in Fosfor.
model_reg = register_model(tree,
               score, 
               name="ATM_DispenseAMT_KNN_10_Regression", 
               description="ATM Dispense Amount KNN_10 Regression",
               flavour=MLModelFlavours.sklearn,
               model_type="regression",
               init_script="pip install snowflake-ml-python==1.0.11",
               y_true=y_test,
               y_pred=y_prediction,
               #prob=y_prob,
               features=X_train.columns,
               input_type="json", 
               explain_ai=True,
               x_train=X_train, 
               x_test=X_test, 
               y_train=y_train.tolist(),
               y_test=y_test.tolist(),
               feature_names=X_train.columns.tolist(),
               original_features=X_train.columns.tolist(),
               feature_ids=X_train.columns,
               kyd=True, kyd_score = True)

Calculating build time metrics

Progress: █████████████████████████████████████████████████                      70.0%